.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
   padding-top: 70px;
  }
  
  .welcome {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-field {
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  .login-button {
    padding: 12px;
    background-color: #14d0e5;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #2faed5;
  }
  
  .sign {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .sign span {
    margin-right: 10px;
  }
  
  .sign a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .sign a:hover {
    color: #23527c;
  }
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }